3a evaluació/ejercicios/inventario.dtd


<!ELEMENT inventario (lapiz*, cuaderno*, boligrafo*)>
<!ELEMENT lapiz (dureza?)>
<!ELEMENT dureza (#PCDATA)>
<!ATTLIST  lapiz marca CDATA #REQUIRED>
<!ELEMENT cuaderno (numhojas, estilo)>
<!ELEMENT numhojas (#PCDATA)>
<!ELEMENT estilo (#PCDATA)>
<!ATTLIST cuaderno precio CDATA #IMPLIED>
<!ELEMENT boligrafo ( precio, color? )>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT color (#PCDATA)>
